@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

body {
    font-family:'Roboto', sans-serif;
    
}

/*------------------Navbar style--------------*/

.bg-custom {
    background-color: #000; 
    
}

.navbar-custom {
    color:#dc3545;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 1px 1px #A6ACAF;
}

.navbar-custom:hover {
    color: #A6ACAF;
    text-shadow: 2px 2px  #000;
    text-decoration: none;
}


/*--------------------------Images------------------*/

.hero-image {
     background: url("../images/heroimage.jpg") center no-repeat;
     height: 600px;
     width: 100%;
     background-position: center;
     background-size:cover;
     overflow: none;
    
      
     


}

.callout-text {
    margin-top: 20px;
    float: right;
    margin-right: auto;
    color:#A6ACAF;
    text-align: center;
   
    
    
  
   
}

.callout-button {
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    
     
   
    
    
}
.callout-button:hover {
    color: #000;
    background-color: #EC019C;
    

}

.about-color {
    height: 600px;
    background-color: #000;
}


/*----------------------------@media Queries---------------*/

@media screen and (max-width:850px) {
    .hero-image {
    background: url("../images/heroimage.jpg") center no-repeat;
     height: 400px;
     width: 100%;
     background-position: center;
     background-size:100% 100%;
    }

     .callout-text {
    margin-left: auto;
    margin-right: auto;
    color:#A6ACAF;
    display: blsock;
    text-align: center;
    float:none;
    }

    .callout-button {
        float:none;
        margin-top: 140px;
        display: inline;
        margin-left: auto;
        margin-right: auto:
        
      
           }

}
      
    @media screen and (max-width:995px) {
    .callout-text {
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    color:#A6ACAF;
    display: block;
    text-align: center;
    float: none;
    }

    .callout-button {
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto:
      
    }
}

